<div class="overall">

    <h1>Customer Support </h1>
    <h2 class="text">Contact Information</h2>
    <p> For questions, feedback or password resets, please reach out to Customer Support at
        <a href="www.specialtysupport@cardinalhealth.com"> specialtysupport@cardinalhealth.com</a>
        <br> or call 877.435.3972
    </p>


    <h3> Contact Us</h3>
    <p> Contact Customer Support using this form. A copy of the communication will be sent to your email address</p>



    <form class="example-form">

        <table class="example-full-width" cellspacing="0">
            <tr>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>First name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
                <td>
                    <mat-form-field class="example-full-width" appearance="fill">
                        <mat-label>Last Name</mat-label>
                        <input matInput>
                    </mat-form-field>
                </td>
            </tr>
        </table>

        <p>
            <mat-form-field class="form" appearance="fill">
                <mat-label>Address</mat-label>
                <textarea matInput> </textarea>
            </mat-form-field>
        </p>
        <button class="btnSave"> Submit</button>
        <button class="btnReset"> Reset</button>

    </form>

    


</div>