<div class="Margindash">
    <h1 class="Header"> Margin </h1>
       
    <h2 class="text">Margin Analysis</h2>
        <p>These reports will give you insights into your drug margins for both injectable (IV) and oral drug spend.

        </p>
    
    
              <!-- Responsive Cards for dashboard -->
            <!-- Each Column Card has a routerLink that once clicked goes to each component -->
        <div class="cardContainer">
            <div  class="card">
                <img class="iconShow" src="/assets/denied.png" width=55% height="45%" >  
                <!-- Need to add the specific picture or icon to this card to make it complete, once completed, please delete this comment -->
            <h2 class="cardText">Top Underwater</h2>
            <p class="cardPargraph">This report will show you the top <br> drug with the worst margin</p>
            </div>
    
    
            <div class="card">
                <img class="iconShow" src="/assets/analytics.png"   width=50% height="45%" > 
            <h2 class="cardText" > Practice Profitability 
            </h2>
            <p class="cardPargraph"> This report will show you your drug <br> 
            margin including: primary, secondary, patient out of pocket <br>
            and administration fees.
            </p>
            </div>
        
    </div>  
    </div>
    