<h5 class="color">
    <!-- <img src="https://www.cardinalhealth.com/content/dam/corp/web/logos/logo_footer.png" > -->


   
    <div class="container-footer w-container">
      <div class="w-row">
        <div class="footer-column w-clearfix w-col w-col-4"><img src="https://www.cardinalhealth.com/content/dam/corp/web/logos/logo_footer.png" width="10%" class="failory-logo-image">
         <div class="space"></div>
         
        </div>
        <div class="footer-column w-col w-col-8"> ©2021 Cardinal Health. All rights reserved
          <div class="w-row">
            <div class="w-col w-col-8">
              <div class="w-row">
                <div class="w-col w-col-7 w-col-small-6 w-col-tiny-7">
                  <h3 class="footer-titles">Learn</h3>
                  <p class="footer-links"><a href="" target="_blank"><span class="footer-link">Failed Startups<br></span></a><a href=""><span class="footer-link">Successful Startups<br></span></a><a href=""><span class="footer-link">Blog</span></a><span><br></span><a href=""><span class="footer-link">Entrepreneurial Tools<br></span></a><a href=""><span class="footer-link">Startup Cemetery<br></span></a><a href=""><span class="footer-link">Podcast</span></a><strong><br></strong></p>
                </div>
                <div class="w-col w-col-5 w-col-small-6 w-col-tiny-5">
                  <h3 class="footer-titles">Other</h3>
                  <p class="footer-links"><a href=""><span class="footer-link">Sponsor Us!<br></span></a><a href=""><span class="footer-link">Open Startup<br></span></a><a href=""><span class="footer-link"></span></a><a href=""><span class="footer-link">Contribute<br></span></a><a href=""><span class="footer-link">FAQ</span></a><strong><br></strong></p>
                </div>
              </div>
            </div>
            <div class="column-center-mobile w-col w-col-4">
              <h3 class="footer-titles">Follow Us!</h3>
              <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
              <a href="https://twitter.com/cardinalhealth" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbf0a2f2b67e3b3ba079c_Twitter%20Icon.svg" width="20" alt="Twitter icon"></a>
              
              
              <!-- <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://www.cardinalhealth.com/content/dam/corp/web/logos/icon-youtube-4x.png" height="9" alt="Youtube icon"></a>  -->
              <a href="https://www.facebook.com/CardinalHealthInc" target="_blank" class="footer-social-network-icons w-inline-block">
                <img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dbe42e1e6034fdaba46f6_Facebook%20Icon.svg" width="20" alt="Facebook Icon"></a>
              <a href="https://www.linkedin.com/company/cardinal-health" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0002f2b676eb4ba0869_LinkedIn%20Icon.svg" width="20" alt="LinkedIn Icon"></a>
              <!-- <a href="" target="_blank" class="footer-social-network-icons w-inline-block"><img src="https://uploads-ssl.webflow.com/5966ea9a9217ca534caf139f/5c8dc0112f2b6739c9ba0871_Pinterest%20Icon.svg" width="20" alt="Pinterest Icon" class=""></a> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  
    
</h5>
   
