<mat-accordion class="example-headers-align" multi> 
    <mat-expansion-panel class="mat-expansion-panel-spacing">
         <!--  "mat-expansion-panel-spacing" was used to delete the spacing in the css-->
         <!-- Reimbursement Subitem -->
      <mat-expansion-panel-header>
        <mat-panel-title>
          Reimbursement Variances
        </mat-panel-title>
       </mat-expansion-panel-header>
            <div class="spacer">
               Billed Equals Allowed
         </div>
        <div class="spacer">
      Allowed Less Than Medicare
     </div>
     <div class="spacer">
       Remit Units < Claim Units
      </div>
      <div class="spacer">
       Commericial Contract Variance
       </div>
    
</mat-expansion-panel>
</mat-accordion>