<!--  This file is used for the Diagnosis / Patient Card found on the dashboard-->

<div class="Diadash">
    
    <h2 class="text">Diagnosis/Patient Exploration</h2>
        <p> This section will give you insights into the diagonses being treated in your practice and the drugs being administered.
        </p>
    
              <!-- Responsive Cards for Diagnosis Column Card -->
            <!-- Each Column Card has a routerLink that once clicked goes to each component -->
        <div class="cardContainer">
            <div  class="card">
                <img class="iconShow" src="/assets/heart.png" width=55% height="45%" >  
                <!-- Need to add the specific picture or icon to this card to make it complete, once completed, please delete this comment -->
            <h2 class="cardText">New & Current Patient <br> Population</h2>
            <p class="cardPargraph">This report will give you insight into <br> your new patients</p>
            </div>

            <div class="card">
                <img class="iconShow" src="/assets/profile.png"   width=50% height="45%" > 
            <h2 class="cardText" > Procedure Codes
            </h2>
            <p class="cardPargraph"> What procedure codes are being <br>
                used for a specific diagnosis?
            </p>
            </div>
        
    </div>  
    </div>
    
