<div class="Revdash">
    <h1 class="Header"> Revenue Cycle </h1>


    <h2 class="text">Easy access to a comprehensive claim review </h2>
   
    <p>Advanced Practice Analytics consolidates all electronic and paper-based claims into a single analytical tool to help you better manage claims status, 
        denials, payor negotiations and more </p>


          <!-- Responsive Cards for revenue Cycle -->
        <!-- Each Column Card has a routerLink that once clicked goes to each component -->
    <div class="cardContainer">
        <div routerLink="/Billing" class="card">
            <img class="iconShow" src="/assets/clipboard.png" width=55% height="42%" > 
        <h2 class="cardText">Billing Reconciliation</h2>
        <p class="cardPargraph">Reports that show me insights <br> associated with Revenue Cycle Management</p>
        </div>


        <div routerLink="/reimbursement" class="card">
            <img class="iconShow" src="/assets/gears.png"   width=45% height="42%" > 
        <h2 class="cardText" > Reimbursement 
        </h2>
        <p class="cardPargraph"> Reports that show me insights associated with Revenue Cycle Management</p>
        </div>

        <div routerLink="/denials" class="card">
            <img class="iconShow" src="/assets/Pie.png"  width=45% height="42%" > 
        <h2 class="cardText">Denials</h2>
        <p class="cardPargraph">Reports that show me my overall <br>and outstanding denials</p>
        </div>

        
        <div routerLink="/Margin"  class="card">
        <img class="iconShow" src="/assets/margin.png"   width=45% height="42%" > 
        <h2 class="cardText">Margin</h2>
        <p class="cardPargraph">Reports that show me my margins <br> for oral and IV drugs</p>
        </div>
       

    
</div>    

</div>


