<div class="Billdash">

    <h1 class="Header"> Billing Reconciliation </h1>
   
    <p>This section will provide you with insights into comparison views 
        using purchases, dispenses, billing and paid claims</p>


          <!-- Responsive Cards for dashboard -->
        <!-- Each Column Card has a routerLink that once clicked goes to each component -->
    <div class="cardContainer">
        <div  class="card">
            <img class="iconShow" src="/assets/clipboard.png" width=55% height="45%" >  
            <!-- Need to add the specific picture or icon to this card to make it complete, once completed, please delete this comment -->
        <h2 class="cardText">Unbilled Dispenses</h2>
        <p class="cardPargraph">This report will show you dispensed <br> drug vs billied drug</p>
        </div>


        <div class="card">
            <img class="iconShow" src="/assets/pills.png"   width=50% height="45%" > 
        <h2 class="cardText" > Drug Reconciliation
        </h2>
        <p class="cardPargraph"> This report will show you if you are <br> dispensing more drugs than you purchased</p>
        </div>
    
</div>    


</div>