.Billdash{
    max-width: 200%;
    height: 2000px;
    font: large;
    font-size: 25px;
    text-align: justify;   
    
}
.Header{
    text-align:justify;
    margin: 9px;
    font-size: 25px;
    margin-top: -30px;
    text-align: left;
    margin-left: 43px;
 }
 .text{
    font: large;
    font-style: oblique;
    font-size: 25px;
    text-align: justify;
    font-style: italic;
    margin-top: 55px;
    margin-left: 48px;
   
  }
  p{
    text-align: justify;
    font-family: 'Times New Roman';
    word-break: keep-all;
    letter-spacing: -1.5px;
   font-size: 90%;
   margin-top: 65px;
   margin-left: 43px;
  }

   /* Column Cards  */
  /* Float four columns side by side */
.column {
    float: left;
    width: 18%;
    padding: 0 10px;
   margin: 30px;
   margin-right: 45px;
   margin-top: 100px;
   position: center;
   align-items: center;
  }
  
  
  /* Remove extra left and right margins, due to padding */
  .row {margin: 0 -5px;}
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
  /* Responsive Cards */
    .card {
      color: white;
      float: left;
      width: calc(20% - 13px);
      padding: 16px;
      border-radius: 10px;
      margin: 24px;
      height: 450px;
      margin-top: 200px;
      
   }
   /* Hovering effect */
   .card:hover{
    border-color: darkblue !important;
    background-color: lightblue !important;
    box-shadow:black !important;
  }
  
  
   .card p {
      font-size: 18px;
      text-align: center;
   }
   .cardContainer:after {
      content: "";
      display: table;
      clear: both;
   }
   .cardText{
     font-size: 70%;
     text-align: center;
     color: black;
     margin-top: -22px;
   }
   .cardPargraph{
    position: bottom;
    color: black;
    text-align: justify;
    font-family: 'Times New Roman';
    word-break: keep-all;
    letter-spacing: -1.3px;
    text-align: center;
    align-self: center;
    font-size: 90%;
  
   }
  
   .iconShow{
     position: center;
     align-self: center;
     align-items: center;
     margin: 25%;
     margin-top: 5px;
     cursor: pointer;
   }
   @media screen and (max-width: 500px) {
      .card {
         width: 75%;
      }
    }