mat-sidenav {
    margin: 16px;
    max-width: 100%;
    border-right: none ;
    border-radius: 32px;
    padding: 16px;

  }
  .content{
      height: calc(100vh -98px);
      margin: 16px;
      margin-left: 36px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 1.5rem;
      border-radius: 10px;
  }

  mat-sidenav-container{
      height: cal(100vh - 65px);
  }
  h1{
    cursor: pointer;
  }
 
