<div class="Revdash">
    <h1 class="Header"> Physician Performance </h1>

    <h2 class="text">Easy access to a comprehensive claim review </h2>

    <p>Advanced Practice Analytics consolidates all electronic and paper-based claims into a single analytical tool to
        help you better manage claims status,
        denials, payor negotiations and more </p>


    <!-- Responsive Cards for Physician Performance -->
    <!-- Each Column Card has a routerLink that once clicked goes to each component -->
    <div class="cardContainer">
        <div class="card">
            <img class="iconShow" src="/assets/clipboard.png" width=40% height="45%">
            <h2 class="cardText">Physician Performance <br> Dashboard</h2>
            <p class="cardPargraph"> How do I evalute my Physicians' E&M <br> Coding Practices? </p>
        </div>


        <div class="card">
            <img class="iconShow" src="/assets/gears.png" width=45% height="42%">
            <h2 class="cardText"> Physician Performance <br> Modifiers
            </h2>
            <p class="cardPargraph"> How do I evalute my E&M coding <br> practices against the Region and Nation?</p>
        </div>

        <div class="card">
            <img class="iconShow" src="/assets/Pie.png" width=45% height="42%">
            <h2 class="cardText">RVU by Month</h2>
            <p class="cardPargraph">How do I view by RVUs by month?</p>
        </div>


        <div class="card">
            <img class="iconShow" src="/assets/margin.png" width=45% height="42%">
            <h2 class="cardText">RVU by MD CPT</h2>
            <p class="cardPargraph">How do I view my RVUs by MD and CPT?</p>
        </div>

    </div>

</div>