<div class="Revdash">
    <h1 class="Header"> Denials </h1>
       
        <p>The Denials section will give you insights into the denials from your payors. 
            You can look at this data based on payors, reason codes and outstanding denials
        </p>
    
    
              <!-- Responsive Cards for dashboard -->
            <!-- Each Column Card has a routerLink that once clicked goes to each component -->
        <div class="cardContainer">
            <div  class="card">
                <img class="iconShow" src="/assets/denied.png" width=55% height="45%" >  
                <!-- Need to add the specific picture or icon to this card to make it complete, once completed, please delete this comment -->
            <h2 class="cardText">Overall Denials</h2>
            <p class="cardPargraph">This report will show you your  overall denials<br> for the selected timeframe</p>
            </div>
    
    
            <div class="card">
                <img class="iconShow" src="/assets/dislike.png"   width=50% height="45%" > 
            <h2 class="cardText" > Denial Tracker
            </h2>
            <p class="cardPargraph"> This report will show you if you your <br> outstanding denials </p>
            </div>
    
            
           
    
        
    </div>  
    
    </div>
    