<div class="dash">  
    <h1 class="Header"> Trends </h1>


    <h2 class="text">The power to improve your practice by finding applicable Trends</h2>
    
    <p>Paragraph goes here </p> 
    <!-- Must insert given paragraph after this -->
        
        <!-- Responsive Cards for Trends.
        Please Insert specific images for column card 
        -->
        <!-- Each Column Card has a routerLink that once clicked goes to each component -->
    <div class="cardContainer">
            <div class="card">
                <img class="iconShow" src="/assets/revenue.png"   width=55% height="45%" > 
            <h2 class="cardText">Revenue Cycle Trends</h2>
            <p class="cardPargraph">How do I trend Revenue Cycle <br> over time?</p>
            </div>

            <div class="card">
                <img class="iconShow" src="/assets/report.png"   width=50% height="45%" > 
            <h2 class="cardText" > Margin Trends
            </h2>
            <p class="cardPargraph"> How do I trend drug margin over <br> time?</p>
            </div>

            <div class="card">
                <img class="iconShow" src="/assets/trend.png"   width=50% height="45%" > 
            <h2 class="cardText"> Reconciliation Trends</h2>
            <p class="cardPargraph">How do I trend Reconciliation over  <br> time? </p>
            </div>

            
            <div class="card">
            <img class="iconShow" src="/assets/doctor.png"   width=50% height="45%" > 
            <h2 class="cardText">Diagnosis Trends</h2>
            <p class="cardPargraph">How do I trend Diagnosis Trends<br> over time?</p>
            </div>

            <div class="card">
                <img class="iconShow" src="/assets/doctor.png"   width=50% height="45%" > 
                <h2 class="cardText">Drug Comparison Trends</h2>
                <p class="cardPargraph">How do I trend Comparison <br> over time?</p>
                </div>

        

        
    </div>    

</div>

